@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<h3>RedirectToJitHub</h3>

@code {
    [Parameter]
    public string? Token { get; set; }
    [Parameter]
    public string? ClientId { get; set; }
    [Parameter]
    public long? UserId { get; set; }
    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(Token) || string.IsNullOrWhiteSpace(ClientId) || UserId is null)
        {
            return;
        }
        NavigationManager.NavigateTo($"jithub://auth?token={Token}&clientId={ClientId}&userId={UserId}");
    }
}
