@page "/authorize"
@using Octokit
@inject IConfiguration Configuration

<p>Authorizing...</p>

@if (_token is not null && _userId is not null && _clientId is not null)
{
    <RedirectToJitHub Token="@_token" UserId="@_userId" ClientId="@_clientId"/>
}

@code {
    [SupplyParameterFromQuery]
    public string? Code { get; set; }

    private string? _token { get; set; }
    private long? _userId { get; set; }
    private string? _clientId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _clientId = Configuration["JithubClientId"];
        await GetTokenFromCode();
    }

    public async Task GetTokenFromCode()
    {
        if (string.IsNullOrWhiteSpace(Code))
        {
            return;
        }
        try
        {
            var token = await Detokenize(Code);
            _token = token.AccessToken;
            StateHasChanged();
        }

        catch (Exception ex)
        {
        }
    }

    public async Task<OauthToken> Detokenize(string code)
    {
        string appSecret = Configuration["JithubAppSecret"];

        if (_clientId == null)
        {
            throw new Exception("Missing client information");
        }

        if (appSecret == null)
        {
            throw new Exception("Missing app secret");
        }

        OauthToken token;
        try
        {
            var request = new OauthTokenRequest(_clientId, appSecret, code);
            var gitHubClient = new GitHubClient(new ProductHeaderValue("JitHubV3"));
            token = await gitHubClient.Oauth.CreateAccessToken(request);
            gitHubClient.Credentials = new Credentials(token.AccessToken);
            var user = await gitHubClient.User.Current();
            _userId = user.Id;
        }
        catch (Exception ex)
        {
            throw new Exception("Github request error");
        }

        if (token == null || string.IsNullOrWhiteSpace(token.AccessToken) || !string.IsNullOrWhiteSpace(token.Error))
        {
            throw new Exception($"Github returned missing token information");
        }
        return token;
    }
}
